body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

/* Header and Navigation Styles */

.Header {
    height: 100%;
    width: 100%;
}

/* Navigation  */

.Nav {
    height: 10%;
    width: 100%;
    background-color: #c9485b;
    display: flex;
    align-items: center;
}

.NavBox {
    display: flex;
    width: 40%;
    margin-left: 25%;
    align-items: center;
    justify-content: space-between;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-style: italic;
}

.Nav a {
    padding-right: 5px;
}

.Nav a:hover {
    cursor: pointer;
    color: rgba(255, 255,255, 0.7)
}

/* Header Image */

.image {
    height: 100%;
    width: 75%; 
    background-image: url(mac.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.Jumbotron {
    height: 90%;
    width: 100%;
    display: flex;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: flex;
    padding-left: 17%;
    align-items: flex-end;
}

.title {
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    font-size: 4rem;
    color: #ffffff;
    margin: 0.5%;
    width: 100%;
}

.titleBox {
    width: 100%;
    margin-bottom: 10%;
}

.subTitle {
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    margin: 0%;
}

/* Heading Profile */

.Bio {
    height: 100%;
    width: 25%;
    background-color: #c9485b;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #ffffff;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    font-weight: 600;
}

.info {
    font-size: 0.8rem;
    font-weight: normal;
    margin: 1%;
    font-family: 'Montserrat', sans-serif;
}

.me {
    background-image: url(me.jpg); 
    width: 125px;
    height: 125px;
    background-size: cover;
    border-radius: 50%;
    background-position: center;
}

.icons {
    margin-top: 35px;
    display: flex;
    color: #ffffff;
    margin-bottom: 35px;
}

.BioBox {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
    padding-left: 2rem;
    width: 100%;
}

/* About Section */

.about {
    width: 100%;
    min-height: 60%;
    background-color: #f5c3bc;
    padding-bottom: 5%;
    border-bottom: solid 25px #c9485b;
}

.aboutBox {
    padding-top: 5%;
    margin-left: 25%;
    width: 50%;
    height: 100%;
}

/* Education and Experience */
.education {
    width: 100%;
    background-color: #fef6f5;
    padding-bottom: 5%;
    /* border-bottom: solid 3px #c9485b; */
}

.educationBox {
    display: flex;
}
.imageBox {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox {
    /* padding-top: 5%; */
    width: 65%;
    margin-left: 12.75%;
}

.companyCard {
    margin-top: 5%;
}

h3 {
    color: #c9485b;
    font-family: 'Montserrat', sans-serif;
    margin: 2% 0%;
}

/* Key Skills Box  */

.skills {
    width: 100%;
    min-height: 60%;
    background-color: #f5c3bc;
    padding-bottom: 5%;
    border-top: solid 25px #c9485b;
}

/* Footer CSS */

.footer {
    margin: 0%;
    background-color: #c9485b;
    height: 10%;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-weight: 400;
    font-style: italic;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}